body {
	background-color: #047DC9;
	min-height: 1500px;
	color: white;
}

.placeholder {
	height: 80px;
}

@each $header-bg-color, $section-bg-color, $modificator 
in (#D85336, #2FBFBC, first),
	(#F2CA3C, #303F9F, second),
	(#75AD2B, #0A2828, third) {
		.headline--#{$modificator} {
			background-color: $header-bg-color;
		}
		.info--#{$modificator} {
			background-color: $section-bg-color;
		}
	}

%sticky {
	position: fixed;
	width: 100%;
	top: 0;
}

[class*="--always-sticky"] {
	@extend %sticky;
}

[class*="--sticky"] {
	@extend %sticky;
	z-index: 999;
}

.headline {
	//height: 80px;
	line-height: 80px;
	text-align: center;
	&__text {
		margin: 0;
	}
}

.info {
	&__description {
		max-width: 700px;
		margin: 0 auto;
		padding: 20px 15px;
	}
	&__text {
		line-height: 22px;
		font-size: 18px;
	}
}

