body {
	color: white;
	position: relative;
}

@each $header-bg-color, $section-bg-color, $modificator
in 	(#D85336, #2FBFBC, first),
	(#F2CA3C, #303F9F, second),
	(#75AD2B, #0A2828, third) {
		.headline--#{$modificator} {
			background-color: $header-bg-color;
		}
		.info--#{$modificator} {
			background-color: $section-bg-color;
		}
	}

.headline {
	line-height: 80px;
	text-align: center;
	position: relative;
	z-index: 3;
	&__text {
		margin: 0;
	}
}

.info {
	&__description {
		max-width: 700px;
		margin: 0 auto;
		padding: 20px 15px;
		&:before {
			content: ' ';
		}
	}
	&__text {
		line-height: 24px;
		font-size: 20px;
		&--important {
			color: #000;
		}
	}
}

%sticky {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
}

[class*="--always-sticky"] {
	@extend %sticky;
}

[class*="--sticky"] {
	@extend %sticky;
}

.github {
	background-color: orange;
	height: 80px;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: -80px;
	&__link {
		display: block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}
	&__img {
		height: 40px;
	}
}